body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: lightgrey;
  padding: 0 12 px;
  color: white;
}
header span {
  margin-right: 10px;
}
.product-item{
  max-width:30%;
  margin: 0 10px;
}
.product-wrapper{
  width:80%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}